
<html>
  <head>  
 
       
       	<link href="{{=URL('static', 'css/map.css')}}" rel="stylesheet" type="text/css" /> 
      <link href="{{=URL('static', 'css/accordian.css')}}" rel="stylesheet" type="text/css" />      
	    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>  
      <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.21/jquery-ui.min.js"></script>  
      <script src="{{=URL('static','js/ajax.js')}}"></script>
      <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCtnTt4diLgTb8nC0P9FCFttB2GgdHLGqk&sensor=true">
      </script>
      <script src="{{=URL('static','js/map.js')}}"></script>
      <script type="text/javascript"> 
         $(function() {  
           $("#accordion").accordion('destroy').accordion();  
          });
         $("#back").click(function() {
              $('html,body').animate({scrollRight: 1000}, 500, "swing");
         });

      </script>

  </head>
   <script type="text/javascript"> $('body').css({'overflow':'hidden'});
                                      $(document).bind('scroll',function () { 
                                      window.scrollTo(0,0); 
                                   });
</script>

  <body onload="initialize()">
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1";
    fjs.parentNode.insertBefore(js, fjs);
     }(document, 'script', 'facebook-jssdk'));</script>
    <div id="header">
        <div id="logo">
            Know Your World
        </div>
        
    </div>
    
    <div id="container">
        <div id="map_container">
            <div class="tab" id="map_container">
               <div class="tab_head" id="tab_head">
                   <p id="tp"> World Map </p>
               </div>
               <div class="map" id="map_canvas" style="width:50%; height:50%"></div>
            </div>
        </div> 

        <p id="pp" ></p>
        <input type="image" id="back" src="../static/images/arrow-89-64.png"  onclick="scrollRight()"/>
       <!-- <p id="back-head"> towards map </p>-->
        <div id="accordian_container">
             <div id="accordion"></div>
        </div>    
        <div id="awesome">
             <div class="fb-like" data-href="http://localhost:8000/know_your_world/default/gmap" data-send="false" data-layout="button_count" data-width="650" data-show-faces="false" data-font="tahoma"></div><br>
             <a href="https://twitter.com/share" class="twitter-share-button" data-via="hardik_juneja" data-size="large">Tweet</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </div>
    </div>
    <div id="footer">
         <p></p>
    </div>
       
  </body>

</html>
