
<html>
  <head>  
 
 
    	<link href="{{=URL('static', 'css/map.css')}}" rel="stylesheet" type="text/css" /> 
      <link href="{{=URL('static', 'css/accordian.css')}}" rel="stylesheet" type="text/css" />      
	    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>  
      <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.21/jquery-ui.min.js"></script>  
      <script type="text/javascript"> 
     	   $(function() {  
           $("#accordion").accordion('destroy').accordion();  
          });
      </script>
      <script src="{{=URL('static','js/ajax.js')}}"></script>
      <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCtnTt4diLgTb8nC0P9FCFttB2GgdHLGqk&sensor=true">
      </script>
      <script src="{{=URL('static','js/map.js')}}"></script>
  </head>


  <body onload="initialize()">
    
    <div id="header">
        <div id="logo">
            Know Your World
        </div>
    </div>
    
    <div id="container">
        <div id="map_container">
            <div class="tab" id="map_container">
               <div class="tab_head" id="tab_head">
                   <p id="tp"> World Map </p>
               </div>
               <div class="map" id="map_canvas" style="width:50%; height:50%"></div>
            </div>
        </div> 

        <p id="pp" ></p>
        
        <div id="accordion"></div>
    </div>
    <div id="footer">
    </div>
       
  </body>

</html>