    #container {
               position: relative;
               left : 100px;
               top: 40px; 

        } 


    #map_canvas {
    	       
    	       border: 1px solid #aaa;
               position : relative;
		       left : 200px;	 
		 	   top :2px;
		 	   border-right: 1px solid rgba(0, 0, 0, .2);  
               border-left: 1px solid rgba(0, 0, 0, .2);  
               border-bottom: 1px solid rgba(0, 0, 0, .2);  
               border-top: 1px solid rgba(250, 250, 250, .2);

			}

	#map_container 
	         {
	         	width :1299;
	         }	

	.tab_head {
		position :relative;
		left: 200px;
		top :1px;
		width: 652px;
		text-align: center;
		font-weight: bolder;
        background-color: #333;
        height: 35px;
        color: white;
        display: block;
        
	}	
	#tp {
		-webkit-margin-before: 1em;
        -webkit-margin-after: 1em;
	     padding-top: 7px;
	}

    #back {
    	   position: relative;
    	   bottom: 645px;
    	   left :1205px;
    }

 
	#pp  {
            position: relative;
            bottom: 535px;
            left: 1450px;       
		    width: 320px;
            color :  #BFC4C4;
		    font-weight: bolder;
		    font-size: 50px;
		    text-align : center;
		  }		


	#header {

		         position: relative;
		         top: 8px;
		         font-weight: bolder;
                 /*background-image: url("../images/apple-iphone-4-wallpapers-844.jpg");*/
                 height : 100px;
                 margin-bottom : 20px;
             }

	body {
		background-image: url("../images/apple-iphone-4-wallpapers-844.jpg");
		
	     }
     #awesome {
        position : absolute;
        bottom : 441px;
        left : 1910px;
        border:5px;
     }
    
    #logo
         {
         	position: relative;
         	left: 410px;
         	top: 40px;
         	font-size: 50px;
            color: #BFC4C4;
            width: 50%;
         } 
